.simple-grid-actions-field {
  margin: 0;
  padding: 10px 9px 10px;

  .active {
    border: 2px solid navy;
    border-radius: 3px;
  }
}
.simple-grid-actions-button {
  margin-right: 10px;
  &:disabled {
    background-color: buttonface;
    color: buttontext;
  }
}
